body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #02ff4e3a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    background-color: #00ffbb1b;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: 80vh;
}

.login-section {
    flex: 1;
    padding: 40px;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.login-section .logo h1 {
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: bold;
}

.login-section h2 {
    font-size: 40px;
    margin-bottom: 20px; 
    font-weight: bold;
}

form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto; 
    padding-top: 20px; 
    text-align: center; 
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-sizing: border-box;
}

form .options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

form .options a {
    color: #333;
    text-decoration: bold;
    font-size: 15px;
}

form .btn-primary {
    width: 75%;
    padding: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 auto 15px; 
    display: block; 
    
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.btn-icon {
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.btn-icon svg {
    fill: #555;
}

.btn-icon:hover {
    background-color: #f3f3f3;
}

.signup-text {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.signup-text a {
    color: #333;
    text-decoration: none;
}

.image-section {
    flex: 1;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-section img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 61.2%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.signup-text a {
    color: #333;
    font-weight: bold; 
    text-decoration:underline; 
}